.Rproj.user
.DS_Store
.Rhistory
.RData
.rds
.RDataTmp
.Ruserdata
*.swf
*.air
*.ipa
*.apk
*.err
*.out
*.log
*.tsv
*.csv
.idea
src/*.o
src/*.so
src/*.dll
.settings/
*.pdf
*.png
*.html
docs/
data/
output/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

